---
controller:
  name: controller
  kind: deployment
  nginxplus: true
  mgmt:
    licenseTokenSecretName: "license-token"
    sslVerify: false
  nginxReloadTimeout: 60000  # Fixed: Changed from string to integer
  appprotect:
    enable: true
    v5: true
    volumes:
      - name: app-protect-bd-config
        emptyDir: {}
      - name: app-protect-config
        emptyDir: {}
      - name: app-protect-bundles  # Volume name
        persistentVolumeClaim:
          claimName: policy-claim  # Reference the PVC
    enforcer:
      host: "127.0.0.1"
      port: 50000
      image:
        repository: private-registry.nginx.com/nap/waf-enforcer
        tag: "5.4.0"
        pullPolicy: IfNotPresent
      securityContext: 
        readOnlyRootFilesystem: true
    configManager:
      image:
        repository: private-registry.nginx.com/nap/waf-config-mgr
        tag: "5.4.0"
        pullPolicy: IfNotPresent
      securityContext:
        readOnlyRootFilesystem: true
        allowPrivilegeEscalation: false
        runAsUser: 101
        runAsNonRoot: true
        capabilities:
          drop:
            - all
  enableSnippets: true
  image:
    repository: private-registry.nginx.com/nginx-ic-nap-v5/nginx-plus-ingress
    tag: "4.0.1"
    pullPolicy: IfNotPresent
  logLevel: "error"  # Fixed: Changed to a valid value
  nginxStatus:
    allowCidrs: "0.0.0.0/0"  # Fixed: Converted from array to string
    port: 9000
  readyStatus:
    initialDelaySeconds: 30  # Fixed: Changed from string to integer
  serviceAccount:
    imagePullSecretName: regcred
prometheus:
  create: true